jax
jaxlib
chex
numpy
pandas
sympy
scipy
matplotlib
ml-collections
tyro
loguru
absl-py
optax
pyscf
einops
tables
pyblock
h5py
attrs
pytest
typing_extensions
folx @ git+https://github.com/microsoft/folx
kfac_jax @ git+https://github.com/deepmind/kfac-jax


